@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
p, h1, h2, h3 {
    color:white;
}
ul, li {
    padding-left: 0;
}
#portrait {
    margin: auto;
    height: 525px;
    width: 400px;
    border-radius: 20px;
}
#bird {
    width: 500px;
    height: 250px;
}
#hoodie {
    width: 500px;
    height: 250px;
}
#linked-in-logo{
    background-color: #ffff;
    border-radius: 10px;
    padding: 2px;
    width: 40px;
}
#linked-in-logo:hover {
    border: 2px solid white;
    background-color: grey;
    border-radius: 10px;
    padding: 2px;
    width: 40px;
}
#home-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.nav-list {
    padding-top: 2rem;
    list-style-type: none;
    display: flex;
    float: right;
    align-items:center
}
#nav-bar {
    margin: auto;
    width: 90%;

}
#nav-bar a {
    color: white;
    background-color: black;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding:2px;
}
#nav-bar a:hover {
    background-color: white;
    color:black;
}
#nav-bar h1 {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    display: inline-block;
}
#home-hero p {
    font-family: "Poppins", sans-serif;
    width: 50%;
}
#home-hero {
    display: flex;
    width: 90%;
    margin: auto;
}

#view-projects {
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width: 65px;
    height: 55px;
    text-decoration: none;
}
#view-projects:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
}
#home-image {
    margin: auto;
    width: 50%;
    padding-left: 2rem;;
}
#home-content1 {
    padding-bottom: 6rem;
    text-align: center;
    width: 50%;
}
#home-content1 h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    width: 100%;
    padding-right: 1rem;
}
#home-content1 p {
    width: 100%;
    padding-bottom: 3rem;
    font-size: 18px;
}
#home-content2 {
    font-family: "Poppins", sans-serif;
    margin:auto;
    width: 50%;
    text-align: center;
    border-radius: 50%;
}
#home-content2 p{ 
    margin: auto;
    padding: 2.65rem;
    font-size: 25px;
    background-color:rgb(44, 40, 40);
    border-radius: 50px;
}
#skill-hero {
    color: white;
    display: block;
    width: 90%;
    margin: auto;
}
#skill-hero h2 {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
}
#skill-hero li {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding-top: 5px;
}
#skill-title {
    margin: auto;
    padding: 10px;
    padding-left: 25px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
}
#skill-list {
    background-color: #f1eded;
    border-radius: 20px;
    padding:2rem;
}
#skill-3 {
    padding-bottom: 20px;
}
#slider-wrapper {
    margin: auto;
    display: flex;
}
#slider-header {
    margin: auto;
    display: flex;
}
#slider-buttons {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#right-arrow, #left-arrow {
    margin: 10px;
    cursor:pointer;
    color: white;
    background-color: black;
    border: none;
    width: 50px;
    height:50px;
    padding: 5px;
}
#left-arrow-image, #right-arrow-image {
    /* cursor:pointer; */
    color: white;
    background-color: black;
    border: none;
    width: 50px;
    height:50px;
    padding: 5px;
}
#work-hero {
    display: block;
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
}
#work-hero img{
    padding-bottom: 10px;
    width: 75%;
    height: 100%
}
#work-hero button {
    border-radius:10px;
    display:block;
    color: black;
    background-color: white;
    cursor: pointer;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
#work-hero button:hover {
    color:white;
    background-color: black;
    border: 2px solid white;
}
#work-hero h2 {
    margin: auto;
    width: 25%;
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    padding-top: 6rem;
}
#work-hero h3{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    margin: auto;
    padding: 1rem 1rem 1rem 0;
}
#contact-hero {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
}
#contact-hero {
    background-color: #f1eded;
    margin:2rem auto;
    padding-top:4rem;
    border-radius: 15px
}
#contact-hero h2 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    color: black;
}
#contact-hero p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: black;
    padding: 1rem;
}
.container {
    position: relative;
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin:auto;
    border-radius: 50%;
}
.email-link {
    display: inline-block;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    height: 175px;
    width: 175px;
    text-align: center;
    transition: transform 0.1s ease;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: solid white 2px;
}
.button:hover {
    scale: 1.1;
    /* translate: 0 -20px; */
}
.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 25px;
}
footer {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
    display: block;
    width: 100%;
    margin: auto;
}

footer h1 {
    font-family: "Poppins", sans-serif;
    margin: auto;
    font-size: 3rem;
}
footer a {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    border: none;
    font-family: "Poppins", sans-serif;
    padding: 2px;
}
footer a:hover {
    background-color: white;
    color: black;
}
.footer-list1{
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin:auto;
}
.footer-list1 li {
    padding:5px;
}
.footer-list1 img {
    background-color: grey;
    border-radius: 10px;
    padding: 1px;
    width: 30px;
}
.footer-list2{
    text-align: center;
    padding-top:25px;
    padding-left: 0;
    display: block;
    list-style-type: none;
    margin: auto;
    width:100%;
}
.footer-list2 li {
    padding: 2px;
}

/* Extra small devices (phones, 160px and down) */
@media only screen and (max-width: 160px) {
    .nav-list {
        display: block;
        margin: auto;
        width: 100%;
        padding-top: .5rem;
    }
    #nav-bar {
        margin:auto;
        text-align: center;
        display: block;
        padding-bottom: 10rem;
    }
    #nav-bar h1 {
        font-size: 20px;
    }
    #nav-bar a {
        font-size: 12px;
    }
    #home-hero {
        display: block;
    }
    #home-content1 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #home-content1 a {
        display: block;
        padding: 2px;
    }
    #home-content1 h2 {
        font-size: 20px;
        text-align: center;
    }
    #home-content1 p {
        font-size: 10px;
    }
    #home-image {
        margin: auto;
        width: 100%;
        padding-left: 0;
        padding-bottom: 2rem;
    }
    #portrait {
        visibility: hidden;
        height:1px;
    }
    #linked-in-logo {
        width: 24px;
    }
    #home-content2 p {
        width: 100%;
        padding: 0;
        font-size: 10px;
        text-align: center;
        margin: auto;
    }
    #home-content2 {
        width: 100%;
        border-radius: 10px;
        padding: 2px;
    }
    #slider-wrapper {
        display: block;
    }
    #slider-header h2{
        font-size: 1.5rem;
        padding-top: 3rem;
        margin: auto;
    }
    #left-arrow {
        margin-left: 0;
    }
    #right-arrow {
        margin-left: 20px;
    }
    #left-arrow-image, #right-arrow-image {
        color: white;
        background-color: black;
        border: none;
        width: 25px;
        height:25px;
    }
    #skill-title {
        font-size: 12px;
        margin: auto;
        width: 100%;
        padding: 0;
    }
    #skill-hero li {
        font-size: 10px;
    }
    #work-hero h2 {
        font-size: 2rem;
        padding-top: 3rem;
        text-align: center;
        width: 100%; 
    }
    #work-hero h3 {
        font-size: 1.25rem;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
    #work-hero img {
        width: 100%;
    }
    #work-hero button {
        font-size: 13px;
        width: 80%;
        margin: auto;
        padding: 1px;
    }
    #contact-hero h2 {
        font-size: 1.3rem;
    }
    #contact-hero p {
        font-size: .75rem;
    }
    #contact-hero {
        padding: 5px;
    }
    .button, .container {
        display:none;
    }
    footer h1 {
        font-size: 2rem;
    }
}


/* Small devices (phones, 160px-300px) */
@media only screen and (min-width: 160px) {
    .nav-list {
        display: block;
        margin: auto;
        width: 100%;
        padding-top: .5rem;
    }
    #nav-bar {
        margin:auto;
        text-align: center;
        display: block;
        padding-bottom: 10rem;
    }
    #nav-bar h1 {
        font-size: 20px;
    }
    #nav-bar a {
        font-size: 12px;
    }
    #home-hero {
        display: block;
    }
    #home-content1 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #home-content1 a {
        display: block;
        padding: 2px;
    }
    #home-content1 h2 {
        font-size: 20px;
        text-align: center;
    }
    #home-content1 p {
        font-size: 10px;
    }
    #home-image {
        margin: auto;
        width: 100%;
        padding-left: 0;
        padding-bottom: 2rem;
    }
    #portrait {
        visibility: hidden;
        height:1px;
    }
    #linked-in-logo {
        width: 24px;
    }
    #view-projects {
        font-size: 12px;
        width:55px;
        height:45px;
    }
    #home-content2 p {
        width: 100%;
        padding: 0;
        font-size: 10px;
        text-align: center;
        margin: auto;
    }
    #home-content2 {
        width: 100%;
        border-radius: 10px;
        padding: 2px;
    }
    #slider-wrapper {
        display: block;
    }
    #slider-header h2{
        font-size: 1.5rem;
        padding-top: 3rem;
        margin: auto;
    }
    #left-arrow {
        margin-left: 0;
    }
    #right-arrow {
        margin-left: 20px;
    }
    #left-arrow-image, #right-arrow-image {
        color: white;
        background-color: black;
        border: none;
        width: 25px;
        height:25px;
    }
    #skill-title {
        font-size: 12px;
        margin: auto;
        width: 100%;
        padding: 0;
    }
    #skill-hero li {
        font-size: 10px;
    }
    #work-hero h2 {
        font-size: 2rem;
        padding-top: 3rem;
        text-align: center;
        width: 100%; 
    }
    #work-hero h3 {
        font-size: 1.25rem;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
    #work-hero img {
        width: 100%;
    }
    #work-hero button {
        font-size: 13px;
        width: 80%;
        margin: auto;
        padding: 1px;
    }
    #contact-hero h2 {
        font-size: 1.3rem;
    }
    #contact-hero p {
        font-size: .75rem;
    }
    #contact-hero {
        padding: 5px;
    }
    .button, .container {
        display:none;
    }
    footer h1 {
        font-size: 2rem;
    }
}

/* Small devices (300px-600px) */
@media only screen and (min-width: 300px) {
    .nav-list {
        display: block;
        margin: auto;
        width: 100%;
        padding-top: .5rem;
    }
    #nav-bar {
        margin:auto;
        text-align: center;
        display: block;
        padding-bottom: 10rem;
    }
    #nav-bar h1 {
        font-size: 25px;
    }
    #nav-bar a {
        font-size: 15px;
    }
    #portrait {
        visibility: hidden;
        height: 1px;
    }
    #home-hero {
        display: block;
    }
    #home-content1 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #home-content1 a {
        display: inline-flex;
        padding: 2px;
    }
    #home-content1 h2 {
        font-size: 30px;
        text-align: center;
    }
    #home-content1 p {
        font-size: 12px;
    }
    #home-image {
        margin: auto;
        width: 100%;
        padding-left: 0;
        padding-bottom: 2rem;
    }
    #home-content2 p {
        width: 85%;
        padding: .5rem;
        font-size: 13px;
        text-align: center;
        margin: auto;
    }
    #home-content2 {
        width: 90%;
        border-radius: 10px;
        padding: 2px;
    }
    #slider-wrapper {
        display: block;
    }
    #slider-header h2{
        font-size: 2rem;
        padding-top: 3rem;
        margin: auto;
    }
    #left-arrow {
        margin-left: 0;
    }
    #right-arrow {
        margin-left: 20px;
    }
    #left-arrow-image, #right-arrow-image {
        color: white;
        background-color: black;
        border: none;
        width: 25px;
        height:25px;
    }
    #skill-title {
        font-size: 25px;
        margin: auto;
        width: 100%;
        padding: 0;
    }
    #skill-hero li {
        font-size: 15px;
    }
    #work-hero h2 {
        font-size: 3rem;
        padding-top: 4rem;
        text-align: center;
        width: 100%; 
    }
    #work-hero h3 {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        padding-top: 3rem;
    }
    #work-hero img {
        width: 100%;
    }
    #work-hero button {
        font-size: 70%;
        width: 33%;
        margin: auto;
        padding: 3px;
    }
    #contact-hero h2 {
        font-size: 1.3rem;
    }
    #contact-hero p {
        font-size: .75rem;
    }
    #contact-hero {
        padding: 5px;
    }
    .button, .container {
        display:none;
    }
    footer h1 {
        font-size: 2rem;
    }
}

/* Medium devices (landscape tablets, 600px-768px) */
@media only screen and (min-width: 600px) {
    .nav-list {
        display: flex;
        margin: auto;
        width: 50%;
        padding-top: 2.5rem;
    }
    #nav-bar {
        margin: auto;
        width: 90%;
        padding-bottom: 4rem;
    }
    #nav-bar h1 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        display: inline-block;
    }
    #nav-bar a {
        font-size: 17px;
    }
    #portrait {
        margin: auto;
        visibility: visible;
        width: 100%;
        height: 80%;
    }
    #home-hero {
        display: flex;
    }
    #home-content1 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #home-content1 h2 {
        font-size: 30px;
        text-align: center;
    }
    #home-content1 p {
        font-size: 15px;
        padding-bottom: 0;
    }
    #home-image {
        margin: auto;
        width: 100%;
        padding-left: 4rem;
        padding-bottom: 4rem;
    }
    #linked-in-logo, #facebook-logo, #twitter-logo {
        background-color: #ffff;
        border-radius: 10px;
        padding: 1px;
        width: 24px;
    }
    #home-content2 p {
        width: 80%;
        padding: 1rem;
        font-size: 15px;
        text-align: center;
        margin: auto;
    }
    #home-content2 {
        width: 90%;
        border-radius: 10px;
        padding: 8rem 0 8rem 0;
    }
    #slider-wrapper {
        display: block;
    }
    #skill-hero {
        padding: 5rem 0 8rem 0;
    }
    #slider-header h2{
        font-size: 2.5rem;
        padding-top: 3rem;
        margin: auto;
    }
    #left-arrow {
        margin:auto;
    }
    #right-arrow {
        margin: auto;
    }
    #left-arrow-image, #right-arrow-image {
        color: white;
        background-color: black;
        border: none;
        width: 25px;
        height:25px;
    }
    #skill-title {
        font-size: 25px;
        margin: auto;
        width: 100%;
        padding: 0;
    }
    #skill-hero li {
        font-size: 15px;
    }
    #work-hero {
        padding: 2rem 0 4rem 0;
    }
    #work-hero h2 {
        font-size: 3rem;
        padding-top: 3rem;
        text-align: center;
        width: 100%; 
    }
    #work-hero h3 {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
    #work-hero img {
        width: 100%;
    }
    #work-hero button {
        font-size: 15px;
        width: 33%;
        margin: auto;
        padding: 1px;
    }
    #contact-hero h2 {
        font-size: 2rem;
    }
    #contact-hero p {
        font-size: 1rem;
    }
    #contact-hero {
        padding: 5px;
    }
    .button, .container {
        display:flex;
    }
    footer h1 {
        font-size: 2rem;
    }
}

/* Large devices (laptops/desktops, 768px-992px) */
@media only screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        margin: auto;
        width: 50%;
        padding-top: 2.5rem;
    }
    #nav-bar {
        margin: auto;
        width: 90%;
        padding-bottom: 4rem;
    }
    #nav-bar h1 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        display: inline-block;
    }
    #nav-bar a {
        font-size: 20px;
    }
    #portrait {
        margin: auto;
        visibility: visible;
        height: 425px;
        width: 325px;
    }
    #home-hero {
        display: flex;
    }
    #home-content1 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #home-content1 h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    #home-content1 p {
        font-size: 15px;
        padding-bottom: 0;
    }
    #home-image {
        margin: auto;
        width: 100%;
        padding-left: 4rem;
        padding-bottom: 4rem;
    }
    #linked-in-logo {
        background-color: #ffff;
        border-radius: 10px;
        padding: 1px;
        width: 34px;
    }
    #home-content2 p {
        width: 80%;
        padding: 2rem;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }
    #home-content2 {
        width: 90%;
        border-radius: 10px;
        padding: 5rem 0 5rem 0;
    }
    #slider-wrapper {
        display: block;
    }
    #slider-buttons {
        padding-bottom: 1rem;
    }
    #slider-header h2{
        font-size: 3rem;
        padding-top: 3rem;
        padding-left: 1.25rem;
        margin: auto;
    }
    #left-arrow {
        margin:auto;
    }
    #right-arrow {
        margin: auto;
    }
    #left-arrow-image, #right-arrow-image {
        color: white;
        background-color: black;
        border: none;
        width: 50px;
        height:50px;
    }
    #skill-title {
        font-size: 35px;
        margin: auto;
        width: 100%;
        padding: 0;
    }
    #skill-hero li {
        font-size: 20px;
    }
    #work-hero h2 {
        font-size: 4rem;
        padding-top: 3rem;
        text-align: center;
        width: 100%; 
    }
    #work-hero h3 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
    #work-hero img {
        width: 100%;
    }
    #work-hero button {
        font-size: 15px;
        width: 33%;
        margin: auto;
        padding: 1px;
    }
    #contact-hero h2 {
        font-size: 2rem;
    }
    #contact-hero p {
        font-size: 1rem;
    }
    #contact-hero {
        padding: 5px;
    }
    .button, .container {
        display:flex;
    }
    footer h1 {
        font-size: 2rem;
    }
}
/* Large devices (laptops/desktops, 992px-1200px) */
@media only screen and (min-width: 992px) {
    .nav-list {
        display: flex;
        margin: auto;
        width: 50%;
        padding-top: 3.5rem;
    }
    #nav-bar {
        margin: auto;
        width: 90%;
        padding-bottom: 4rem;
    }
    #nav-bar h1 {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        display: inline-block;
    }
    #nav-bar a {
        font-size: 25px;
    }
    #portrait {
        margin: auto;
        visibility: visible;
        height: 525px;
        width: 425px;
    }
    #home-hero {
        display: flex;
    }
    #home-content1 {
        width: 100%;
        padding-bottom: 1rem;
    }
    #home-content1 h2 {
        font-size: 3rem;
        text-align: center;
    }
    #home-content1 p {
        font-size: 15px;
        padding-bottom: 0;
    }
    #home-image {
        margin: auto;
        width: 100%;
        padding-left: 4rem;
        padding-bottom: 6rem;
    }
    #linked-in-logo {
        background-color: #ffff;
        border-radius: 10px;
        padding: 1px;
        width: 44px;
    }
    #linked-in-logo:hover {
        width: 55px;
    }
    #view-projects {
        font-size: 19px;
        width: 85px;
        height: 65px;
    }
    #home-content2 p {
        width: 80%;
        padding: 4rem 2rem 4rem 2rem;
        font-size: 20px;
        text-align: center;
    }
    #home-content2 {
        width: 70%;
        border-radius: 10px;
        padding: 2rem 0 4rem 0;;
    }
    #slider-wrapper {
        display: block;
    }
    #slider-buttons {
        padding-bottom: 1rem;
    }
    #slider-header h2{
        font-size: 3.5rem;
        padding-left: 1.25rem;
        margin: auto;
    }
    #left-arrow {
        margin:auto;
    }
    #right-arrow {
        margin: auto;
    }
    #left-arrow-image, #right-arrow-image {
        color: white;
        background-color: black;
        border: none;
        width: 50px;
        height:50px;
    }
    #skill-title {
        font-size: 35px;
        margin: auto;
        width: 100%;
        padding: 0;
    }
    #skill-hero {
        padding: 2rem 0 4rem 0;
    }
    #skill-hero li {
        font-size: 20px;
    }
    #work-hero {
        padding:2rem 0 2rem 0;
    }
    #work-hero h2 {
        font-size: 4rem;
        padding-top: 2rem;
        text-align: center;
        width: 100%; 
    }
    #work-hero h3 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
    #work-hero img {
        width: 100%;
    }
    #work-hero button {
        font-size: 15px;
        width: 25%;
        margin: auto;
        padding: 1px;
    }
    #contact-hero h2 {
        font-size: 2.5rem;
    }
    #contact-hero p {
        font-size: 1.25rem;
    }
    #contact-hero {
        padding: 5px;
    }
    .button, .container {
        display:flex;
    }
    footer h1 {
        font-size: 2rem;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}